@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Nunito:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  font-family: 'DM Sans', sans-serif;
}

.container {
  max-width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 40px 0 44px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: #1A1A1A;
  text-decoration: none;
  display: block;
}

.header__logo:hover {
  font-size: 28px;
  line-height: 40px;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  margin-right: 128px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  margin-right: 48px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__link a {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #1A1A1A;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__link a:hover {
  color: #066F14;
}

.header__link a:active {
  color: #066F14;
  text-decoration: underline;
}

.header__submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #1A1A1A;
  display: block;
  margin-right: 48px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header__login:hover {
  color: #066F14;
}

.header__login:active {
  color: #066F14;
  text-decoration: underline;
}

.header__btn {
  display: block;
  padding: 12px;
  text-align: center;
  width: 100%;
  max-width: 81px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  background-color: #066F14;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.header__btn:hover {
  -webkit-box-shadow: 0px 0px 8px #066F14;
          box-shadow: 0px 0px 8px #066F14;
  cursor: pointer;
}

.header__btn:active {
  -webkit-box-shadow: 0px 0px 8px #DFFFE3;
          box-shadow: 0px 0px 8px #DFFFE3;
}

.home .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .container::after {
  content: url(../media/list.png);
  position: absolute;
  top: 361px;
  left: calc(50% - 123px);
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: -1;
}

.home__description {
  margin-right: 74px;
  max-width: 548px;
  width: 52%;
}

.home__title {
  font-family: 'Nunito', sans-serif;
  font-size: 72px;
  line-height: 92px;
  font-weight: 700;
  color: #1A1A1A;
  margin-bottom: 24px;
  padding-top: 52px;
}

.home__subtitle {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4A4A4A;
  margin-bottom: 40px;
  max-width: 504px;
}

.home__link {
  display: block;
  padding: 16px;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  width: 100%;
  max-width: 160px;
  background-color: #066F14;
  border-radius: 4px;
  margin-bottom: 60px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.home__link:hover {
  -webkit-box-shadow: 0px 0px 8px #066F14;
          box-shadow: 0px 0px 8px #066F14;
  cursor: pointer;
}

.home__link:active {
  -webkit-box-shadow: 0px 0px 8px #DFFFE3;
          box-shadow: 0px 0px 8px #DFFFE3;
}

.home__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 112px;
          column-gap: 112px;
}

.home__number {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: #001B04;
}

.home__text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #1A1A1A;
  position: relative;
}

.home__picture {
  width: 57%;
  max-width: 653px;
  max-height: 719px;
  margin-right: -123px;
}

.home__img {
  position: relative;
}

.home__img::before {
  content: "";
  display: block;
  padding-top: 110%;
}

.home__img img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.services {
  padding: 124px 0 128px;
}

.services .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 427px 1fr 1fr 1fr;
      grid-template-columns: 427px 1fr 1fr 1fr;
  -webkit-column-gap: 24px;
          column-gap: 24px;
}

.services__title {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  margin-bottom: 37px;
  color: #001B04;
  max-width: 389px;
}

.services__text {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #4A4A4A;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.services__text:hover {
  cursor: pointer;
}

.services__text::before {
  content: url(../media/line.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(149px);
}

.services__image {
  position: relative;
  background-color: #F6EDE8;
  max-width: 215px;
  max-height: 207px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__image img {
  width: 173px;
  height: 163px;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__image.second {
  background-color: #F0F1F6;
}

.services__image.second img {
  width: 163px;
}

.services__image.third img {
  width: 163px;
}

.about {
  padding: 0 0 128px 0;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1130px;
}

.about__picture {
  margin-right: 80px;
  position: relative;
  padding-top: 40px;
  padding-left: 70px;
}

.about__picture::before {
  content: "";
  display: block;
  width: 446px;
  height: 440px;
  background-color: #066F14;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.about__picture img {
  width: 446px;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__description {
  width: calc(100% - 446px - 80px);
}

.about__subtitle {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #066F14;
  margin-bottom: 12px;
}

.about__title {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #1A1A1A;
  margin-bottom: 24px;
}

.about__text-1 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #4A4A4A;
}

.about__text-2 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  color: #4A4A4A;
}

.about__btn {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 36px;
  padding: 16px;
  display: block;
  background-color: #066F14;
  text-align: center;
  width: 100%;
  max-width: 155px;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.about__btn:hover {
  -webkit-box-shadow: 0px 0px 8px #066F14;
          box-shadow: 0px 0px 8px #066F14;
  cursor: pointer;
}

.about__btn:active {
  -webkit-box-shadow: 0px 0px 8px #DFFFE3;
          box-shadow: 0px 0px 8px #DFFFE3;
}

.best {
  padding: 0 0 128px 0;
}

.best__title {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #1A1A1A;
  text-align: center;
  margin-bottom: 24px;
}

.best__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 268px;
  margin-bottom: 50px;
}

.best__link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  color: #4A4A4A;
  margin-right: 24px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.best__link:hover {
  cursor: pointer;
}

.best__link:last-child {
  margin-right: 0;
}

.best__link_active {
  font-size: 18px;
  line-height: 23px;
  color: #066F14;
}

.best__link_active.sale {
  color: red;
}

.best__block {
  display: none;
}

.best__block.click {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  margin-bottom: 40px;
}

.best__block_show {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  margin-bottom: 40px;
}

.best__item {
  display: block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.best__item:hover {
  cursor: pointer;
}

.best__item.first {
  background-color: #EAF2E5;
  padding: 10px 32px 29px 32px;
}

.best__item.second {
  background-color: #F0EBE6;
  padding: 4px 32px 29px 32px;
}

.best__item.third {
  background-color: #E2ECE4;
  padding: 7px 32px 29px 32px;
}

.best__item.fouth {
  background-color: #E7EEED;
  padding: 0 32px 29px 32px;
}

.best__img {
  overflow: hidden;
  height: 153px;
  margin: 0 auto 6px;
  width: 140px;
}

.best__img.second {
  width: 120px;
  margin: 0 auto 12px;
}

.best__img.third {
  width: 118px;
  margin: 0 auto 9px;
}

.best__img.fouth {
  width: 160px;
  margin: 0 auto 16px;
}

.best__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best__h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 10.33px;
  color: #1A1A1A;
}

.best__price {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #1A1A1A;
}

.best__price.sale {
  color: red;
}

.best__svg {
  margin-bottom: 13px;
}

.best__btn {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: #ffffff;
  display: block;
  background-color: #066F14;
  padding: 16px;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 100%;
  max-width: 131px;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.best__btn:hover {
  -webkit-box-shadow: 0px 0px 8px #066F14;
          box-shadow: 0px 0px 8px #066F14;
  cursor: pointer;
}

.best__btn:active {
  -webkit-box-shadow: 0px 0px 8px #DFFFE3;
          box-shadow: 0px 0px 8px #DFFFE3;
}

.blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__picture {
  width: 52%;
  max-height: 430px;
  overflow: hidden;
}

.blog__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__description {
  width: 48%;
  margin-right: 48px;
}

.blog__title {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #1A1A1A;
  color: #1A1A1A;
  margin-bottom: 12px;
}

.blog__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4A4A4A;
  margin-bottom: 43px;
}

.blog__swiper {
  width: calc(100% + 95px);
}

.swiper-slide {
  background-color: #066F14;
  padding: 20px 63px 30px 32px;
}

.swiper__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.swiper__photo {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
}

.swiper__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper__name {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #ffffff;
}

.swiper__status {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #D9D9D9;
}

.swiper__comment {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ECECEC;
}

.swiper-button-next {
  position: absolute;
  top: 86%;
  left: 96%;
}

.swiper-button-next::after {
  content: url(../media/nextactive.svg);
}

.swiper-button-prev::after {
  content: url(../media/prevactive.svg);
}

.swiper-button-prev {
  position: absolute;
  top: 86%;
  left: 92%;
}

.swiper-button-prev.swiper-button-disabled.swiper-button-prev::after {
  content: url(../media/prev.svg);
}

.swiper-button-next.swiper-button-disabled.swiper-button-next::after {
  content: url(../media/next.svg);
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
  width: 24px;
  height: 24px;
  margin-top: 0;
}

.subscribe {
  padding: 164px 0 79px;
}

.subscribe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #DFFFE3;
  max-width: 1040px;
  padding: 0 24px 0 59px;
  margin: 0 auto;
}

.subscribe__description {
  max-width: 480px;
}

.subscribe__title {
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #1A1A1A;
  color: #1A1A1A;
  margin-bottom: 12px;
  font-weight: 700;
}

.subscribe__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #4A4A4A;
  margin-bottom: 30px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 451px;
  padding: 8px 8px 8px 0;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
}

.subscribe__input {
  padding: 11px 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  margin-right: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.subscribe__input:hover {
  -webkit-box-shadow: 0px 0px 8px #4A4A4A;
          box-shadow: 0px 0px 8px #4A4A4A;
  cursor: pointer;
}

.subscribe__input:focus {
  -webkit-box-shadow: 0px 0px 8px #066F14;
          box-shadow: 0px 0px 8px #066F14;
}

.subscribe__input:active {
  -webkit-box-shadow: 0px 0px 8px #DFFFE3;
          box-shadow: 0px 0px 8px #DFFFE3;
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #5A5A5A;
}

.subscribe__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #5A5A5A;
}

.subscribe__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #5A5A5A;
}

.subscribe__input::placeholder {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #5A5A5A;
}

.subscribe__btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #FEFEFE;
  display: block;
  width: 100%;
  max-width: 98px;
  border-radius: 4px;
  background-color: #066F14;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.subscribe__btn:hover {
  -webkit-box-shadow: 0px 0px 8px #066F14;
          box-shadow: 0px 0px 8px #066F14;
  cursor: pointer;
}

.subscribe__btn:active {
  -webkit-box-shadow: 0px 0px 8px #DFFFE3;
          box-shadow: 0px 0px 8px #DFFFE3;
}

.subscribe__picture {
  width: 262px;
  height: 356px;
  overflow: hidden;
  margin-top: -36px;
}

.subscribe__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram {
  padding: 0 0 128px 0;
}

.instagram__title {
  font-family: 'Nunito', sans-serif;
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #1A1A1A;
  text-align: center;
}

.instagram__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  max-width: 544px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
  color: #4A4A4A;
}

.instagram__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.instagram__img::before {
  content: "";
  padding-top: 105%;
  display: block;
}

.instagram__img {
  position: relative;
}

.instagram__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.instagram__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: rgba(0, 0, 0, 0.34);
}

.instagram__link svg {
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram__img:hover .instagram__link {
  opacity: 1;
}

.instagram__img:active .instagram__link {
  opacity: 1;
}

.footer {
  padding: 0 0 96px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__plant {
  max-width: 306px;
  margin-right: 201px;
}

@media (max-width: 1177px) {
  .footer__plant {
    margin-right: 145px;
  }
}

.footer__title {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #1A1A1A;
}

.footer__text {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 22px;
  color: #5A5A5A;
}

.footer__medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__sm {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background-color: #EDFFDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__sm path {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__sm:hover {
  border-radius: 50%;
}

.footer__sm:active {
  border-radius: 50%;
  border: 2px solid #1A1A1A;
}

.footer__sm:hover path {
  fill: #1A1A1A;
}

.footer__sm:active path {
  fill: #1A1A1A;
}

.footer__sm:last-child {
  margin-right: 0;
}

.footer__sm svg {
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__block {
  margin-right: 128px;
}

.footer__block:last-child {
  margin-right: 0;
}

.footer__link {
  margin-bottom: 16px;
}

.footer__link a {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: #5A5A5A;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__link a:hover {
  color: #066F14;
}

.footer__link a:active {
  color: #066F14;
  text-decoration: underline;
}

.footer__link:last-child {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */